<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.game.eskillsgame"
		version="0.0.1">
	<name>eskillsgame</name>
		<gap:platform name="android" />
		<gap:platform name="ios" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />
		<icon src="icon.png" />
</widget>